gpt-2-simple/
lazyprog-examples/
checkpoint/
models/
build/
env/
cemalnur-kitaplar
1-training_checkpoints
2-tc
training_checkpoints
.Trash-1000
my_model.h5
sshfs-rpiw
turkish-texts-tokenized
nltk_data
dataset

